<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.db.dao.interfaces.IPlatformStatusDAO">

    <select id="getById" resultMap="com.laba.solvd.db.dao.interfaces.IPlatformStatusDAO.platformStatusResultMap">
        SELECT ps.id AS platform_status_id, ps.status AS platform_status FROM platform_statuses ps WHERE ps.id = #{id}
    </select>

    <resultMap id="platformStatusResultMap" type="com.laba.solvd.db.model.PlatformStatus" autoMapping="false">
        <id property="id" column="id"/>
        <result property="status" column="status"/>
    </resultMap>

    <insert id="create">
        INSERT INTO platform_statuses (status, platform_id) VALUES (#{status}, #{platform_id})
    </insert>

    <delete id="deleteById">
        DELETE FROM platform_statuses WHERE id = #{id}
    </delete>

</mapper>