<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laba.solvd.db.dao.interfaces.ITrainStationDAO">

    <select id="getById" resultMap="com.laba.solvd.db.dao.interfaces.ITrainStationDAO.trainStationResultMap">
        SELECT ts.id, ts.name, ts.location, e.id, e.first_name, e.last_name, e.position, p.id, p.number FROM train_stations ts
        LEFT JOIN employees e ON ts.id = e.station_id
        LEFT JOIN platforms p ON ts.id = p.station_id
        WHERE ts.id = #{id}
    </select>

    <select id="getAll" resultMap="com.laba.solvd.db.dao.interfaces.ITrainStationDAO.trainStationResultMap">
        SELECT ts.id, ts.name, ts.location, e.id, e.first_name, e.last_name, e.position, p.id, p.number FROM train_stations ts
        LEFT JOIN employees e ON ts.id = e.station_id
        LEFT JOIN platforms p ON ts.id = p.station_id
        WHERE ts.id = #{id}
    </select>

<resultMap id="trainStationResultMap" type="com.laba.solvd.db.model.TrainStation" autoMapping="false">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="location" column="location"/>
    <collection property="employees" resultMap="com.laba.solvd.db.dao.interfaces.IEmployeeDAO.employeeResultMap"/>
    <collection property="platforms" resultMap="com.laba.solvd.db.dao.interfaces.IPlatformDAO.platformResultMap"/>
    </resultMap>

    <insert id="create">
        INSERT INTO train_stations (name, location) VALUES (#{name}, #{location})
    </insert>

    <delete id="deleteById">
        DELETE FROM train_stations WHERE id = #{id}
    </delete>

</mapper>